* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
html {
  font-size: 15px;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #0a0c1b;
  display: grid;
  place-items:center;
  width: 100%;
  height: 100vh;
 
}
header {
  max-width: 500px;
  height: auto;
  background-color: #1c1938;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  
}
.image{
  width: 100%;
  position: relative;
} 
img{
  display: block;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  max-width: 100%;
}
.image::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  background-image:linear-gradient(rgba(117, 62, 146, 0.568),rgba(135, 21, 197, 0.568));
}
.content {
  margin: 40px 40px 30px 40px;
  color: #fefffd;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1rem;
  text-align: center;
}
.content h1 span {
  color: #834ead;
}
.content p {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  color: #6d6d75;
}
.statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #fefffd;
  font-family: "Lexend Deca", sans-serif;

}
h2{
    font-size: 1.25rem;
    text-align: center;
}
h5 {
  text-transform: uppercase;
  font-family: "Lexend Deca", sans-serif;
  color: #6d6d75;
  padding: 3px;
  margin-bottom: 20px;
}
@media(min-width:320px){
  header{
      max-width: 375px;
      margin-left: 20px;
      margin-right: 20px;
    
  }
}
@media(min-width:375px){
    header{
        max-width: 320px;
      
    }
}
@media(min-width:768px){
    header{
      max-width: 720px;
      border-radius: 0 10px  10px 0;
      -webkit-border-radius: 0 10px  10px 0;
      -moz-border-radius: 0 10px  10px 0;
      -ms-border-radius: 0 10px  10px 0;
      -o-border-radius: 0 10px  10px 0;

} 
    .container{
      display: flex;
      flex-direction: row-reverse;
   
    }
    .image{
      width: 50%;
    } 
    img{
      border-radius: 0 10px  10px 0;
      -webkit-border-radius: 0 10px  10px 0;
      -moz-border-radius: 0 10px  10px 0;
      -ms-border-radius: 0 10px  10px 0;
      -o-border-radius: 0 10px  10px 0;
}
.image::after{
  border-radius: 0 10px  10px 0;
      -webkit-border-radius: 0 10px  10px 0;
      -moz-border-radius: 0 10px  10px 0;
      -ms-border-radius: 0 10px  10px 0;
      -o-border-radius: 0 10px  10px 0;

}
.content{
    text-align: left;
    width: 45%;
    margin-left: 40px;
    margin-top: 10px;
    padding-top: 10px;
}
.content h1{
  font-size: 1.5rem;
}
.content p{
  font-size: 0.8rem;
}
    .statistics{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        margin-top: -65px;
        
    }

}

